NODE_ENV="development"
DATABASE_URL=""

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL=http://localhost:3000/api/auth

# Default providers are Github and credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Add more providers here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
